body{
  
    width: 100%;
    padding: 15px;
}

.image {
    
    margin: 15px;
    
    
    
}
.image img{
    
    max-height: 456px;
    max-width: 305px;
    float: left;
    margin-bottom: 15px;
    
}

.image img:hover{
    
	transform: scale(1.1);
    
}

@media handheld, screen and (max-device-width: 460px) {
	
	.image { width: 90%; },
    .image img{ width: 100%; }
}
@media screen and (min-device-width: 475px)  and (max-device-width: 950px){
	
	.image { width: 46%; float: left;},
    .image img{ width: 100%; }
}

@media screen and (min-device-width: 960px){
	
	.image { width: 30%; float: left;},
    .image img{ width: 100%; }
}